@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #0d0d0d;
  color: #fff;
  font-family: "poppins", sans-serif;
}
h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #2c2a2a;
  width: 150px;
  height: 250px;
  box-shadow: -1rem 0 3rem #000;
  transition: all 0.3s ease;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* card carousel */
.card-carousel .card {
  margin-left: -20px;
}
.card-carousel .card:hover {
  transform: translateY(-20px);
  cursor: pointer;
}
.card-carousel .card:hover ~ .card {
  transform: translateX(20px);
}
.card-carousel .card span {
  font-size: 1.1rem;
}
.card-carousel .card:hover span {
  display: block;
  background: linear-gradient(0deg, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* hovering card */

.hover-cards .card {
  margin: 50px;
  transform: rotatex(75deg) translateY(-200px) translateZ(-100px);
  box-shadow: -0.5rem 0 3rem rgba(0, 0, 0, 0.3);
}
.hover-cards .card span {
  text-shadow: 0 0 2px rgb(255, 255, 255);
  transform: translatey(-20px);
}
.hover-cards .card:hover {
  transform: rotatex(0) translateY(0) translateZ(0);
}
